<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <title>Document</title>
</head>
<body>


  <div>

    <!-- Header -->
    <mat-toolbar>
      <span class="logo">M.S</span>

  <div class="normalButton">
    <button mat-button>About me</button>
    <button mat-button color="primary">Work</button>
    <button mat-button color="accent">Certificates</button>
  </div>
  <span class="example-spacer"> </span>


  <div class="contactButton">
    <button mat-button >Contact me</button>
  </div>
    </mat-toolbar>

  <!-- ===================================================================================== -->
  <!-- main body -->
  <div class="div-main-body">
  <div class="main-content">
  <div class="main-content-container">
    <h1 class="body-header">Hi,I'm Sage Muhodari </h1>
    <h1 class="body-header header-ending">and I'm a <span class="body-header-brown">Full stack developer</span>.</h1>
    <p class="myDescription">I will develop web and android applications with my fronted and backend skills </p>
    <div class="container-button">
    <button mat-button class="bronw-button">Contact me</button>
    <button mat-button color="primary" class="white-button">Download my cv</button>
    </div>
  </div>
  </div>



  <div class="main-image">
   <img src="../../../assets/image.jpg" alt="sage"/>
  </div>
  </div>
  <!-- =============================================== ===============================================
  ===============================================-->
  <!-- about section -->

  <div class="about-me-container">

    <!-- left description -->
  <div class="about-container">
    <div class="contain-leftdescription">
      <div class="horizontal"></div>  About me
      <br><br>

      <div class="about-coninter-description">
      <h1>A Little about myself</h1>
      <p>I am a person who is positive about every aspect of life.
        There are many things I like to do,to see, and to experience. I like to code as to Design.
      abouve all i seek to develop and deliver the competitive , effective solution world wide that makes
      life more easily and simple.
      </p>
      </div>


    </div>

  </div>
  <!-- right image -->
  <div class="about-image">
  <img src="../../../assets/sages.JPG" />
  </div>

  </div>


  <!-- ===========================================================
  ================================ -->
  <!-- some works i have worked on -->



  <div class="someWorks-container">
    <div class="contain-works">
      <div class="horizontal"></div> Works <br><br>
       <h1 class="section-name">Some projects i worked on.    </h1>

      <!-- master container for the project -->
  <div class="contiain-project">




    <!-- movie clone -->

  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/movie-site.jpg" />
    </div>

     <h3 class="project-name">Movies app</h3>

     <div class="langouge-container">
     <button mat-button >React js</button>
     <button mat-button>typescript</button>
     <button mat-button >html & css</button>

     </div>
     <p class="app-description">
  with this app you can view top pipular movie, amount of money spent on movie
  actors and more ..
     </p>
  </div>

  <!--  nodejs e-commerce -->
  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/e-commerce.jpg" />
    </div>

     <h3 class="project-name">E-commerce app</h3>

     <div class="langouge-container">
     <button mat-button >Node js</button>
     <button mat-button>Angular js</button>
     <button mat-button >html & css</button>

     </div>
     <p class="app-description">
    electronic device online shoping store check it out and save time to cross to market
     </p>
  </div>

  <!-- weather app -->
  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/weatherApp.jpg" />
    </div>

     <h3 class="project-name">Weather app</h3>

     <div class="langouge-container">
      <button mat-button >Django</button>
     <button mat-button >Html</button>
     <button mat-button>css</button>

     </div>
     <p class="app-description">
  this an appication helps society to know
  weather related info like temperature, pressure...
     </p>
  </div>


  <!-- group chat app  -->

  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/group chat.png" />
    </div>

     <h3 class="project-name">Group Chat app</h3>

     <div class="langouge-container">
     <button mat-button >Django</button>
     <button mat-button>bootstrap</button>

     </div>
     <p class="app-description">
  simple app for group descussion it in which you can send  and receive message
  as Group
     </p>
  </div>

  <!-- django E-commerce -->

  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/ecommerce.png" />
    </div>

     <h3 class="project-name">Django E-commerce</h3>

     <div class="langouge-container">
     <button mat-button >Django</button>
     <button mat-button>vue js</button>
     <button mat-button >bulma</button>
     <button mat-button >html</button>

     </div>
     <p class="app-description">
  with this app you can view top pipular movie, amount of money spent on movie
  actors and more ..
     </p>
  </div>

  <!-- Travel app -->
  <div class="project">
    <div class="contain-project-image">
    <img src="../../../assets/travel.png" />
    </div>



     <h3 class="project-name">Travel site</h3>

     <div class="langouge-container">
     <button mat-button >Vue js</button>
     <button mat-button >html & css</button>

     </div>
     <p class="app-description">
  easy to too view  diffirent attractive  area
  and most visited place in some countries of south america
     </p>
  </div>


  <!--  -->
  </div>
    </div>


  </div>




  <!-- ==========================================================
  ========= some certificates
  =============================================================== -->
  <div class="certificate-container">
    <div class="horizontal"></div> certificate <br><br>
       <h1 class="certificate-title">Some of the certificate of my achivements.   </h1>

        <div>
          <mat-spinner></mat-spinner>
        </div>
  </div>


  <!-- ======== end of certificate=========== -->



  <!-- =======================================================
  ====      footer
  ========================================================== -->

  <div class="footer-container">
  <div class="footer-content">
    <div class="horizontal"></div> contanct <br><br>
    <h1 class="certificate-title"> Have a project in mind? Let's talk. </h1>


     <div class="footer-address">

<div class="address">

  <!-- phone -->
  <div>
<div class="icons"><i class="fa fa-phone" aria-hidden="true"></i></div>
+250 789 764 912
  </div>

  <!-- email -->
  <div>
    <div class="icons"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    sagemuho@gmail.com
      </div>

      <!-- location -->
      <div>
        <div class="icons"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        Gicumbi, Rwanda
          </div>


</div>
</div>



     <!-- right contact form -->
     <div class="footer-contact-form-container">right</div>

  </div>


  </div>
  <!-- end of footer -->




  </div>





</body>
</html>



