/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/work-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v9-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

mat-toolbar{
  height:70px ;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  background: white;
  box-shadow: 0;


}
.logo{
margin-left: 230px;
font-size: 30px;
color: black;
}

.example-spacer {
  flex: 1 1 auto;
}
.contactButton{
margin-right: 150px;
}
.contactButton button{
  width: 170px;
  height: 45px;
  border-radius: 5px;
  /* font-size: 19px; */
 background: rgb(122, 50, 50);
}

.normalButton{
  margin-left: 303px;
}
.normalButton button{
  color: rgb(20, 18, 18);
  /* font-size: 19px; */
  margin-left: 10px;
  height: 58px;
}



/* ====================================================================
======================================================================= */
/* main body design */
* {
  box-sizing: border-box;
}
.div-main-body{
  color: black;
  margin-top: 6px;
  background:rgb(252, 250, 250);
  height: 740px;

}

/* format main container  */


.div-main-body div{
  /* background-color: aqua; */
  float: left;
  /* width: 48%; */
  padding: 10px;
  margin-left: 0.5%;
  height: 800px;
}
.main-content{
  width: 52%;
}
.main-image{
  width: 39%;
  /* background-color: brown; */
}
.div-main-body::after{
  content: "";
  display: table;

  clear: both;
}

/* content to lef side */
.main-content-container{
  /* background-color: blue !important; */
  width: auto !important;
  margin-top: 255px;
  margin-left: 110px !important;
  height:300px !important;

}

.body-header{
  font-weight: bolder;
  font-size: 37px;
  font-family:'Work Sans';
}
.header-ending{
  margin-bottom: 45px;
}
.container-button{
  width: auto !important;
  height: 100px !important;;
}
.body-header-brown{
  color:rgb(122, 50, 50);
}
.bronw-button{
  background-color:rgb(122, 50, 50);
  color: white;
  height: 45px;
  width: 170px;
  /* font-size: 17px; */
  border-radius: 5px;
}

.white-button{
  color: rgb(122, 50, 50);;
  height: 45px;
  width: 170px;
  /* font-size: 17px; */
  background-color: white;
  margin-left: 35px;
  border: 1px solid rgb(122, 50, 50);;

  border-radius: 5px;
}

.myDescription{
  /* background-color: green; */
  width: 560px;
  font-size: 18px;
  color: rgb(53, 58, 58);
  margin-bottom: 10px !important;
}
/* main image */
.main-image img{
  margin-top: 140px;
  width: 380px;
  margin-left: 50px;

}

/* ====================================================== */
/*              about us section */
/* ========================================= */


.about-me-container{
width: 100%;
height: 760px;
/* background-color: blueviolet; */
}

.about-me-container div{
  float: left;
  /* width: 48%; */
  margin-left: 0%;
  height:680px;
}

.about-container{
  width: 60%;
  /* background-color: white; */
  padding-top: 150px;
}

  .about-image{
    width: 38%;
    /* background-color:white; */
  }
  .about-image img{
    height:640px;
    width: 400px;
    font-size: 20px;
    margin-left: 90px;
  }

.about-container{
/* background-color: white; */
width: 33%;
margin-left:170px !important;

}

.horizontal{
  margin-top: 6px;
  height:2px !important;
  border: 2px;
  background-color:grey;
  margin-right: 10px;
  width:30px;
}
.about-coninter-description h1{
font-weight: bold;
font-family: 'Work Sans';
font-size: 30px;
}

.about-coninter-description p{
 font-size: 18px;
 font-family: 'Work Sans';
}
