/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/work-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v9-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

mat-toolbar{
  height:70px ;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  background: white;
  box-shadow: 0;


}
.logo{
margin-left: 230px;
font-size: 30px;
color: black;
}

.example-spacer {
  flex: 1 1 auto;
}
.contactButton{
margin-right: 150px;
}
.contactButton button{
  width: 170px;
  height: 45px;
  border-radius: 5px;
  /* font-size: 19px; */
 background: rgb(122, 50, 50);
}

.normalButton{
  margin-left: 303px;
}
.normalButton button{
  color: rgb(20, 18, 18);
  /* font-size: 19px; */
  margin-left: 10px;
  height: 58px;
}









/* part two code Header */
body {
  margin:0;
}
.header {
  background-color: #fff;
  margin-top: 0 !important;
  padding-top: 0 !important;
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}







/* ====================================================================
======================================================================= */
/* main body design */
* {
  box-sizing: border-box;
}
.div-main-body{
  color: black;
  margin-top: 6px;
  background:#FBFBFB;
  min-height: 740px;

}

/* format main container  */


.div-main-body div{
  /* background-color: aqua; */
  float: left;
  /* width: 48%; */
  padding: 10px;
  margin-left: 0.5%;
  height: 800px;
}
.main-content{
  width: 52%;
}
.main-image{
  width: 39%;
  /* background-color: brown; */
}
.div-main-body::after{
  content: "";
  display: table;

  clear: both;
}

/* content to lef side */
.main-content-container{
  /* background-color: blue !important; */
  width: auto !important;
  margin-top: 255px;
  margin-left: 110px !important;
  height:300px !important;

}

.body-header{
  font-weight: bolder;
  font-size: 37px;
  font-family:'Work Sans';
}
.header-ending{
  margin-bottom: 45px;
}
.container-button{
  width: auto !important;
  height: 100px !important;;
}
.body-header-brown{
  color:rgb(122, 50, 50);
}
.bronw-button{
  background-color:rgb(122, 50, 50);
  color: white;
  height: 45px;
  width: 170px;
  /* font-size: 17px; */
  border-radius: 5px;
}

.white-button{
  color: rgb(122, 50, 50);;
  height: 45px;
  width: 170px;
  /* font-size: 17px; */
  background-color: white;
  margin-left: 35px;
  border: 1px solid rgb(122, 50, 50);;

  border-radius: 5px;
}

.myDescription{
  /* background-color: green; */
  width: 560px;
  font-size: 18px;
  color: rgb(53, 58, 58);
  margin-bottom: 10px !important;
}
/* main image */
.main-image img{
  margin-top: 140px;
  width: 380px;
  margin-left: 50px;

}

@media only screen and (max-width: 768px) {

.div-main-body{
  float: none;
  color: black;
  margin-top: 6px;
  background:#FBFBFB;
  width: 400% !important;
  margin-top: 800px;
 



}

.div-main-body::after{
  content: "";
  display:block;

  clear:none;
}

.div-main-body div{
  display: block;
  float:none !important;
  /* width: 48%; */
  padding: 10px;
  margin-left: 0.5%;
  /* height: 800px; */
  width: 100% !important;
}
.main-content{
width: 100%;
margin-bottom: 0;
}
.main-image{
  margin-top: 220px;
  width: 29%;
  height:30% !important;

  /* background-color: brown; */
}
.main-content-container{

  width: auto !important;
  margin-top:0;
  margin-left:0px !important;
  height:300px !important;

}

.main-image img{
  margin-top:500px;
  width:90%;
  margin-left: 5%;

}

.body-header{
  font-weight:1000px;
  font-size: 120px;
  font-family:sans-serif;
  width: 90%;
  margin-left: 10%;
  letter-spacing:0;
  line-height: 160px;

}



.myDescription{

  width:99%;
  /* margin-left:2%; */
  font-size: 70px;
  line-height: 90px;
  color: rgb(53, 58, 58);
  margin-bottom: 10px !important;
}
.text-welcome-center{
 padding-left:30px !important;
 text-align: center;
}

/* iuiuiu */

.container-button{
  width: auto !important;
  height: 100px !important;;
}
.container-button button{
  display: block;
}
.bronw-button,.white-button{

  margin-top: 60px;
  height: 250px;
  width:900px;
  font-size: 70px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-left: 150px;
}


}


/* ====================================================== */
/*              about us section */
/* ========================================= */

.about-me-container{
width: 100%;
height: 760px;

/* background-color: blueviolet; */
}

.about-me-container div{
  float: left;
  /* width: 48%; */
  margin-left: 0%;
  height:680px;
}

.about-container{
  width: 60%;
  /* background-color: white; */
  padding-top: 150px;
}

  .about-image{
    width: 38%;
    /* background-color:white; */
  }
  .about-image img{
    height:640px;
    width: 400px;
    font-size: 20px;
    margin-left: 90px;
  }

.about-container{
/* background-color: white; */
width: 33%;
margin-left:170px !important;

}

.horizontal{
  margin-top: 6px;
  height:2px !important;
  border: 2px;
  background-color:grey;
  margin-right: 10px;
  width:30px;
  display: inline-block;
}

.about-coninter-description h1{
font-weight: bold;
font-family: 'Work Sans';
font-size: 30px;
}

.about-coninter-description p{
 font-size: 18px;
 font-family: 'Work Sans';
}

@media only screen and (max-width: 770px) {
  .about-me-container{
    /* background-color: turquoise; */
    width: 200%;
    margin-top: 250px;
    margin-left: 0;
    padding-left: 0;
  }

.about-me-container div{
    float:none;
    display: block;
    width: 100%;

  }

  .about-container{
    width: 180% !important;
    margin-left: 0 !important;
    padding: 0;
    margin-left: 10% !important;

    /* background-color: yellow; */
  }


.about-coninter-description{
/* background-color: #7B2524; */
width: 100% !important;
  }

  .horizontal{
    margin-top: 6px;
    height:30px !important;
    border: 2px;
    background-color:grey;
    margin-right: 10px;
    width:200px !important;
    display: inline-block;
  }


  .about-coninter-description h1{
    font-weight: bold;
    font-family:sans-serif;
    font-size: 115px;
    }

    .about-coninter-description p{
      margin-top: 100px;
     font-size: 90px;
     font-weight: 500;
     line-height: 90px;
     font-family: 'Work Sans';
     color: #4F4F4F;
    }


    .about-image{
      width:200% !important;
      margin-top:0 !important;
      margin-left: 70px !important;
    }
    .about-image img{
      margin-top: 1000px;
       margin-left:280px ;
      height:180%;
      width:55%;
      /* font-size: 20px; */
      /* margin-left:0px; */
      background-position: center;
      background-size: cover;
      transform: scale(1.7);
    }



}





/* ================================================================
= about works full Design
=============================================================*/

.someWorks-container{
  /* min-height:1000px; */
  background-color:#FBFBFB;
  /* margin-top: 100px; */
}

.contain-works{
  /* background-color: yellow; */
  height: 1100px;
  width: 80%;
  margin-left: 10%;
}
.contiain-project{
  margin-top: 30px;
width: 100%;
height: 980px;
}


.section-name{
  font-weight: bolder;
  font-family: 'Work sans';
  font-size: 35px;
}
.project{
  width: 30%;
  display:inline-block;
  margin: 0 3% 3% 0;

  background-color:#FBFBFB;
}
.contain-project-image{
  background-color:#F0F0F0;
}
.project img{

  width:93%;
  height: 230px;
  margin: 7% 3% 7% 3%;
}

.langouge-container{
  margin-bottom: 10px;
}

.langouge-container button{
  height: 32px;
  background-color:#F0F0F0 ;
  align-items: center;
  margin-left: 10px;
  border-radius: 20px;
  color: #413636;
  /* cursor:none; */
}
.langouge-container span{
  background-color:red ;
  height: 40px ;
  text-align: center;
}
.project-name{
  font-weight: bold;
}
.app-description{
  font-size: 17px;
  color: #413636;
}


@media only screen and (max-width:768px){

  .someWorks-container{
 margin-top: 2900px;
 width: 300%;
  }

.contain-works{

  height:auto;
  width: 120%;
  margin-left: 10%;
}

.project{
  width: 100%;
  display:block;
  margin: 0 3% 3% 0;

  background-color:#FBFBFB;
}

.project img{

  width:93%;
  height: 700px;
  margin: 7% 3% 7% 3%;
  position:relative;
}
.project-name{
  font-size: 80px;
  margin-top:80px;
  margin-bottom:70px;

}
.langouge-container button{
  width: 300px;
  height: 100px;
  font-size: 48px;
  border-radius: 70px;
  margin-left: 40px;
  margin-bottom: 10px;

}
.app-description{
font-size:60px;
line-height: 80px;
padding-bottom: 40px;
}

}





/*===================================================
== some certificates
================================================= */


.certificate-container{

  width: 80%;
margin:10%;
}
.certificate-title{
  font-size: 22px;
  font-weight: bold;
  word-spacing: 2px;
}

.mat-spinner{
  margin-left: 300px;
  margin-top: 50px;
}

@media only screen and (max-width:768px){
  .certificate-container{

    width: 388%;
  margin-top:8200px;
  background-color: #7B2524;

  }
  .certificate-title{
    font-size: 60px;
  }

  .mat-spinner{
    margin-left: 500px;
    margin-top: 100px;

  }

}


/* ==================================================================
============= footer
====================================================================*/

.footer-container {
  background-color: #FBFBFB;
  min-height: 520px;

}
.footer-content{
width: 80%;
margin: 10%;
}
.footer-address{
  width: 50%;
  float: left;
  clear: left;
}

.footer-contact-form-container{
width: 50%;
float: right;
clear: right;
}
.address{
  margin-top:68px;

}

.address div div{
background-color: #FFE3E3;
/* font-size: 30px; */
width: 50px;
border-radius: 80%;
display: inline-block;
margin-bottom: 20px;
margin-right: 10px;
}
.icons i{
  font-size: 20px;
  margin: 30%;
  text-align: center;
  color: #7B2524;
};

.address div span{
  font-weight:20px;
}
.icon-description{
  margin-left:10px !important;
}

form{
  margin-left:80px;
}
form label{
  display: block;
  color: #413636;
  font-size:14px;

}

form input,textarea{
height: 50px;
width: 400px;
border: none;
margin-bottom: 20px;
background-color: #F2F2F2;
}
form textarea{
  width: 400px;
  height: 120px;

}
form button {
  background-color: #7B2524;
  color: white;
  width: 170px;
  height: 50px;
  text-align: center;
  margin-bottom: 60px;
}

@media only screen and (max-width:768px){

  .footer-container{
    width: 390%;
  }
.footer-contant-address div{
  display: block !important;
  width: 120%;

}
.footer-content{
  width: 100%;
  margin-left: 70px;
}
.footer-address{
width: 100%;
}
.icons i{
  font-size: 130px;
}

}

/* =======================================================
========= social links
======================================================== */

.social-links{
 background:white;
 height: 190px;
}

.social-content{
  width: 80%;
  background-color: white;
  height: 130px;
  margin: 0px 8% 0px 12%;
  display: flex;
  flex-direction: row;
}


.social-content  div{

width: 32%;
background-color: white;
margin-left: 1%;
height: 130px;


}

.social-content div h1{
  font-size: 23px;
  font-weight: bold;
}
.site h1 a{
  text-decoration: none;
  color: black;
  /* font-size: 30px; */
}

.site-map ul{
  margin: 0;
  padding: 0;
}

.site-map ul li{
  list-style-type: none;
  font-size: 17px;
  margin-bottom: 10px;
}
.site-map ul li a{
  text-decoration: none;
  color: #413636;
}

.socialMedia p i{
margin-left: 26px;
font-size: 26px;
}
.socialMedia p a{
  color: black;
}
